@model IEnumerable<owp_web.Models.WorkItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>All my work items</h3>

<p>
    <a asp-action="Create">Create New Issue</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.WorkItemType)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.LastChangedOn)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.AssignmentId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.WorkItemType)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.LastChangedOn)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.AssignmentId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkItemId">Edit</a>
                @*<a asp-action="Details" asp-route-id="@item.WorkItemId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorkItemId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
