@model IEnumerable<owp_web.Models.WorkItem>

@using owp_web.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table" id="workitems" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkItemId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkItemType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastChangedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignedTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkItemPriority)
                </th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <input class="form-control" type="text" placeholder="Search @Html.DisplayNameFor(model => model.WorkItemId)" />
                </th>
                <th>
                    <input class="form-control" type="text" placeholder="Search @Html.DisplayNameFor(model => model.Description)" />
                </th>
                <th>
                    <select class="form-control" asp-items="EnumHelper.ToList<WorkItemTypes, WorkItemTypes>(true, string.Empty)"></select>
                </th>
                <th>
                    <input class="form-control" type="text" placeholder="Search @Html.DisplayNameFor(model => model.CreatedOn)" />
                </th>
                <th>
                    <input class="form-control" type="text" placeholder="Search @Html.DisplayNameFor(model => model.LastChangedOn)" />
                </th>
                <th>
                    <select class="form-control" asp-items="EnumHelper.ToList<WorkItemStatus, WorkItemStatus>(true, string.Empty)"></select>
                </th>
                <th>
                    <input class="form-control" type="text" placeholder="Search @Html.DisplayNameFor(model => model.Address)" />
                </th>
                <th>
                    <input class="form-control" type="text" placeholder="Search @Html.DisplayNameFor(model => model.AssignedTo)" />
                </th>
                <th>
                    <select class="form-control" asp-items="EnumHelper.ToList<WorkItemPriority, WorkItemPriority>(true, string.Empty)"></select>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastChangedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTo.PrincipalDisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkItemPriority)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WorkItemId"><i class="fas fa-edit"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.WorkItemId"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-8">
            <div id='issueMap' style='width: auto; height: 50vh;'></div>
        </div>
           
        <div class="col-4">

            <div class="card" id="summaryCardNoContent">
                <div class="card-header"></div>
                <div class="font-weight-light font-italic text-center summaryCardNoContent-body">Please select an item on the map to see the detail here</div>
            </div>
            <div class="card" id="summaryCard" style="display:none">
                <div class="card-header"><span id="priorityGlyph" class="fa fa-bullseye" style="color:blue"></span> &nbsp; Tracking Number: <span id="SummaryWidValue">&nbsp;</span></div>
                <div class="card-body">
                    <dl>
                        <dt id="SummaryType">Type</dt>
                        <dd id="SummaryTypeValue">&nbsp;</dd>

                        <dt id="SummaryStatus">Status</dt>
                        <dd id="SummaryStatusValue">&nbsp;</dd>

                        <dt id="SummaryAssignedTo">Assigned To</dt>
                        <dd id="SummaryAssigngedToValue">&nbsp;</dd>

                        <dt id="SummaryAddr">Address</dt>
                        <dd id="SummaryAddressValue">&nbsp;</dd>

                        <dt id="SummaryDescription">Description</dt>
                        <dd id="SummaryDescriptionValue">&nbsp;</dd>
                    </dl>

                    <a id="editLink" href="#" class="btn btn-primary" role="button">Edit Work Item</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AhzXPtrjsvIyqZezEQdu9f- yPHPncwyVhlQ2 - gchufOGsO - HN1iYQLTCHZZlP859'></script>
<script>
    
    setTimeout(() => { loadMapScenario(); }, 2000);
    
</script>